body {
    background-image: url("../images/Sports.png");
}

header {
    background-color: #4169E1;
    border: 3px solid blue;
    border-radius: 12px 12px 0 0;
    color: #00008B;
    height: 150px;
    font-family: 'Copperplate';
    font-size: 26px;
    margin: 0 auto;
    margin-top: 15px;
    text-align: center;
    text-decoration: underline;
    width: 560px;
}

.underScore {
    background-color: #DA70D6;
    border: 3px solid purple;
    color: purple;
    height: 150px;
    font-family: 'Copperplate';
    font-size: 21px;
    margin: 0 auto;
    margin-top: 1px;
    text-align: center;
    width: 560px;
}

.right {
    background-color: #00FF7F;
    border: 3px solid green;
    color: green;
    height: 150px;
    font-family: 'Copperplate';
    font-size: 21px;
    margin: 0 auto;
    margin-top: 1px;
    text-align: center;
    width: 560px;
}

.winslosses-row {
    left: 50px;
    font-family: 'Copperplate';
    font-size: 24px;
    margin-top: 60px;
}

.wrong {
    background-color: #CD5C5C;
    border: 3px solid darkred;
    border-radius: 0 0 12px 12px;
    color: #B22222;
    height: 150px;
    font-family: 'Copperplate';
    font-size: 21px;
    margin: 0 auto;
    margin-top: 1px;
    text-align: center;
    width: 560px;
}

/* @media only screen and (max-width: 800px) {
    body {
        background-color: lightblue;
        margin-top: 300px;
    }
} */